$sprite-offset: -14px;

.icon {
  overflow: hidden;
  width: 17px;
  height: 14px;
  margin: 5px;

  img {
    object-fit: none;

  }
  .folder {
    left: 0;
  }
  .file {
    object-position: 2 * $sprite-offset;
  }
  .private {
    object-position: $sprite-offset;
  }
  .plus {
    object-position: 6 * $sprite-offset;
    filter: invert(50%);
  }
  .minus {
    object-position: 7 * $sprite-offset;
    filter: invert(50%);
  }
  .x {
    object-position: 3 * $sprite-offset;
    filter: invert(50%);
  }
}
