.list-item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  box-sizing: border-box;
}

.list-item:hover {
  background-color: #DDD;
  cursor: pointer;
}

.file-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.4em;
}
