.list-item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1em;
}

.list-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.file-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
