.title-label {
  input[type='text'] {
    text-align: left;
    padding: 0.5em;
    width: 100%;
  }

  .title {
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEDEDE;

    .icon {
      height: auto;
      margin-right: 0.5em;
    }

    .icon:hover {
      cursor: pointer;
    }
  }

  .label {
    font-size: 1.2em;
    text-indent: 0.4em;
  }

  .title, .label {
    border-bottom: 1px solid #888;
  }

}
